<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMovil"
        tools:targetApi="31">
        <activity
            android:name=".menú.MenuPrincipal"
            android:exported="true" />
        <activity
            android:name=".examenes.MostrarExamenesActivity"
            android:exported="false" />
        <activity
            android:name=".notas.VisualizarMateriaActivity"
            android:exported="false" />
        <activity
            android:name=".notas.NuevaNotaActivity"
            android:parentActivityName=".notas.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notas.MainActivity2" />
        </activity>
        <activity
            android:name=".notas.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".notas.VerNotasActivity"
            android:parentActivityName=".notas.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notas.MainActivity2" />
        </activity>
        <activity
            android:name=".notas.EditarNotasActivity"
            android:parentActivityName=".notas.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notas.MainActivity2" />
        </activity>
        <activity
            android:name=".examenes.AgregarExamenActivity"
            android:exported="false" />
        <activity
            android:name=".materias.MainActivity3"
            android:parentActivityName=".materias.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".materias.MainActivity" />
        </activity>
        <activity
            android:name=".materias.VerActivity"
            android:parentActivityName=".materias.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".materias.MainActivity" />
        </activity>
        <activity
            android:name=".materias.EditarActivity"
            android:parentActivityName=".materias.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".materias.MainActivity" />
        </activity>
        <activity
            android:name=".materias.MainActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".register.Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>